.bn1 {
    border: 0;
    justify-content: center;
    display: flex;
}
.SLIDE {
    justify-content: center;
    display: flex;
}
.TEXTO1 {
    justify-content: center;
    display: flex;
    height:610px;
}
.FT1 {
    justify-content: center;
    display: flex;
    height: 610px;
}
.fim {
    justify-content: center;
    display: flex;
}
    